<div class="box_wrapper">
  <div class="box_header">
<h1>Edit Your Category!</h1>
  </div>
<div class="col-md-8">
  <%= form_for @category do |f| %>
  <div class="form-group">
    <div class="box_content_label">
      <h2><%= f.label :title %></h2>
    </div>
  <%= f.text_field :title, class: 'form-control', placeholder: "Put Your Amazing Category Name Here" %>
    <%= f.submit "Edit Category", class: 'btn btn-warning' %>
  
  <%end %>
  </div>
</div>
</div>
